.titleHref {
    padding-top: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-decoration:none;
    padding-left: 20px;
}

@media screen and (max-width:1290px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .headerContent{
        height: 300px;
        color: aliceblue;
    }
}
