.text{
    font-size: 40px;
    font-family: "sans-serif";
    font-style: italic;
    animation: blinking 1s ease-in-out infinite alternate;
}

.newscontent{
    padding-top: 100px;
   
}
.newscontent span:hover{
    color: red;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.game{
    font-weight: bold;
    display: flex;
    font-size: 30px;  
}

.ichigyou img{
    vertical-align: middle;
    display: inline-block;
}

.ichigyou span{
    display: inline-block;
    text-indent:3em;
    font-size: 30px;
}

