.text{
    font-size: 40px;
    font-family: "sans-serif";
    font-style: italic;
    animation: blinking 1s ease-in-out infinite alternate;
}
/*.newscontent span:hover{
    color: red;
}*/

.home h2{
    margin-top: 20px;
}

.newstitle{
    font-size: 28px;
    font-family: "sans-serif";
    margin-top: 5px;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.game{
    font-weight: bold;
    display: flex;
    font-size: 30px;  
}

.ichigyou img{
    vertical-align: middle;
    display: inline-block;
}

.ichigyou span{
    display: inline-block;
    text-indent:3em;
    font-size: 30px;
}

.buttonpadding{
    height: 30px;
}

.flexblock1{
    display: flex;
}

.functions{
    width: 430px;
}

.newsgridItem{
    max-height: 100%;
    min-height: 330px;
    width: 300px;
    border-radius: 10px;
    border: solid 1px  #95d1fc;
    margin: auto;
}

.borderOutline{

    padding-top: 15px;
    min-height:350px;
    max-height: 100%;
    width: 330px;
    border-radius: 10px;
    background-color:  #e4eef5;
   
    box-shadow: 2px 2px 4px gray;
    /*scroll-snap-align: start;*/
}