.reqIndex{
    
    background-color: lightcyan;
    min-height:200px;
    max-height: 100%;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
}

.reqIndexAccepted{
    background-color: rgb(211, 164, 243);
    height:200px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray
}
.reqIndex p{
    padding-top: 10px;
}
.reqIndexAccepted p{
    padding-top: 10px;
}