.reqIndex{
    
    background-color: #e4eef5;
    min-height:200px;
    max-height: 100%;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
}

.reqIndexAccepted{
    background-color: #e4eef5;
    height:200px;
    width: 500px;
    outline: solid 1px greenyellow;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;

}
.reqIndex p{
    padding-top: 10px;
}
.reqIndexAccepted p{
    padding-top: 10px;
}