/*bodyは背景画像  background-color: black; width: 100vw;*/
.body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: black;
}



.body2 {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 13s infinite both;
  background: linear-gradient(#FFB3E7,#FF54C9);
  
}

/*アニメーション　画像の切り替え*/
@keyframes move {
  0% {
    background-image: url("https://raw.githubusercontent.com/iwabuchiharuki/front-end-iwabuchi/master/src/apex.jpg");
    background-size: 150% auto;
  }

  50% {
    background-image: url("https://raw.githubusercontent.com/iwabuchiharuki/front-end-iwabuchi/master/src/valo.jpg");
    background-size: 240% auto;
  }

  100% {
    background-image: url("https://raw.githubusercontent.com/iwabuchiharuki/front-end-iwabuchi/master/src/spla.jpg");
    background-size: 150% auto;
  }
}



/*上の文字2つ　text-shadow:0 5px 5px rgb(5, 5, 5);*/
.text1 {
  font-family: "sans-serif";
  font-style: italic;
  font-size: 150px;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(18, 18, 18), 0 0 1em rgb(57, 5, 245), 0 0 0.2em rgb(15, 109, 232);
  animation: fadeIn 2s ease 0s 1 normal;
}

/*textのフェード*/
@keyframes fadeIn{
  0% {opacity: 0}
100% {opacity: 1}
}

/*上の文字2つ　text-shadow:0 5px 5px rgb(5, 5, 5);*/
.text3 {
  font-family: "sans-serif";
  font-style: italic;
  font-size: 45px;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(18, 18, 18), 0 0 1em rgb(57, 5, 245), 0 0 0.2em rgb(15, 109, 232);
  animation: fadeIn 2s ease 0s 1 normal;
}

/*textのフェード*/
@keyframes fadeIn{
  0% {opacity: 0}
100% {opacity: 1}
}

 /*上の文字2つ　text-shadow:0 5px 5px rgb(5, 5, 5);*/
 .text2 {
  font-family: "sans-serif";
  font-style: italic;
  font-size: 100px;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(18, 18, 18), 0 0 1em rgb(57, 5, 245), 0 0 0.2em rgb(15, 109, 232);
  animation: fadeIn 2s ease 0s 1 normal;
}

/*textのフェード*/
@keyframes fadeIn{
  0% {opacity: 0}
100% {opacity: 1}
}

/*リンク色*/
.ttlbdycontent a:link{
  color: green;
}

.ttlbdycontent a:hover {
  color: #f30661;
  text-decoration: underline;
}

.ttlbdycontent a:visited {
  color: #09f8b0;
}

/*リンクに触れたときのアニメーション*/
.ttlbdycontent a{
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.ttlbdycontent a::before,.ttlbdycontent a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 0;
  border-bottom: solid 1px #0afafa;
  transition: 0.5s;
}
.ttlbdycontent a::before{
  top: 0;
}
.ttlbdycontent a::after{
  bottom: 0;
}
.ttlbdycontent a:hover::before, a:hover::after {
  width: 100%;
}


/*ここから利用手順のCSS*/
/*吹き出し*/

.bubble051 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 360px; 
  color:#FFF;
  background-color: #195000;
  border: 5px solid #09f8b0;
}

.basyo{
margin: 0;
padding: 0;
}

.bubble05 {
  position: relative;
  display: inline-block;
  width: 310px; 
  text-align: center;
  color:#FFF;
  padding: 25px;
  background-color: #f39800;
  border-radius: 5px;
  border-bottom-color:#1e90ff;
  border: 5px solid #09f8b0;

}